In [2]:
#!cat SMSSpamCollection

In [33]:
import pandas as pd
import re
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [10]:
messages = pd.read_csv('SMSSpamCollection', sep ='\t', names = ['label', 'message'])
messages

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
def remove_stopwords_and_stem(message):
    stemmer = PorterStemmer()
    message = message.split()
    return(' '.join([stemmer.stem(word) for word in message if word not in stopwords.words('english')]))

In [16]:
stemmer = PorterStemmer()
messages['message'] = messages['message'].str.replace('[^a-zA-Z]',' ')
messages['message'] = messages['message'].str.lower()
messages['message'] = messages['message'].apply(remove_stopwords_and_stem)
messages

     label                                            message
0      ham  go jurong point crazi avail bugi n great world...
1      ham                              ok lar joke wif u oni
2     spam  free entri wkli comp win fa cup final tkt st m...
3      ham                u dun say earli hor u c alreadi say
4      ham               nah think goe usf live around though
...    ...                                                ...
5567  spam  nd time tri contact u u pound prize claim easi...
5568   ham                              b go esplanad fr home
5569   ham                                  piti mood suggest
5570   ham  guy bitch act like interest buy someth els nex...
5571   ham                                     rofl true name

[5572 rows x 2 columns]

In [26]:
# Creating Bag of Words model

cv = CountVectorizer(max_features = 2500)
X = cv.fit_transform(messages['message'])
y = messages['label'] == 'ham'

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

clf = MultinomialNB().fit(X_train, y_train)

In [28]:
predictions = clf.predict(X_test)

In [35]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

       False       0.92      0.96      0.94       142
        True       0.99      0.99      0.99       973

    accuracy                           0.98      1115
   macro avg       0.96      0.97      0.96      1115
weighted avg       0.98      0.98      0.98      1115